
h1, h2, h3 {
    color: #323c78;
}

.bg-orange {
    background-color: #ffb366;
}

.col-sm-6 {
    border: 2px solid;
}

.tablerow {
    font-size: 20px;
}

.borderow {
    background: white;
    border: 2px solid #323c78;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 24px;
    border-radius: 25px;
}
.borderow p{
    font-size: 20px;
}


html {
    scroll-behavior: smooth;
}

header, body {
    font-family: 'Carter One';
}

body {
    padding-top: 70px;
}

* {
    box-sizing: border-box;
}

[class*="pmain"] {
    border-style: solid;
    margin-bottom: 1em;
    padding: 0.5em;
}

.navbar {

}

.active, .collapsible:hover {
    background-color: #ffb366;
}


.btn {
    background-color: #ffb366;
    color: black;
    border-radius: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

