
html {
    scroll-behavior: smooth;
}

header, body {
    font-family: 'Carter One';
}

body {
    padding-top: 70px;
}

* {
    box-sizing: border-box;
}

[class*="pmain"] {
    margin-bottom: 1em;
    padding: 0.5em;
}

.responsive {
    width: 100%;
    height: auto;
}

.navbar {}

.btn {
    background-color: #ffb366;
    color: black;
    border-radius: 20px;
}

.jumbotron {
    color: white;
    background-color: #323c78;
    /* background-image: url("bckg.png"); */
    background-size: 100% 100%;
    margin-bottom: 1em;
    border-radius: 20px;
}

.jumbotron2 {
    background-color: #ffb366;
    color: #323c78;
    margin-left: 1em;
}

/* margin: 1em; } */

.jumbotron3 {
    background-color: #ffb366;
    color: #323c78;
    margin-right: 1em;
}

/* for the collapsible menus  */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 50px;
    margin-bottom: 0.08em;
}

.active, .collapsible:hover {
    background-color: #ffb366;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
}

.circle-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid;
    border-width: 0.1px;
}

.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.center-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.span1 {
    z-index: 999;
    height: 3px;
    margin: 0.5px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

.span1:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.span1:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.span1:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.span1:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover .span1:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover .span1:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover .span1:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover .span1:nth-child(4) {
    transform: rotate(-225deg);
}

#topButton {
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#topButton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#topButton:hover {
    cursor: pointer;
    background-color: #333;
}

#topButton:active {
    background-color: #555;
}

#topButton.show {
    opacity: 1;
    visibility: visible;
}

.column {
    width: 33.3%;
    margin-bottom: 1em;
    padding: 0.5em;
}

.column2 {
    width: 50%;
    padding: 0.5em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#create {
    margin: 1em;
    color: #323c78;
    text-align: center;
}

.dropdown-menu {
    text-align: center;
    font-size: 1.2em;
}

#osLbl1, #backOsContainer {
    visibility: hidden;
}

#dbLbl1, #backDbContainer {
    visibility: hidden;
}

/* Full-width input fields */
input[type=text] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 5%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.containerModal {
    padding: 16px;
}

.page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 1em;
    background-color: #323c78;
}
.fa {
  padding: 8px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 6px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.contactUs
{
  color: #323c78;
}


/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  border-radius: 3px;
  background: #fff;
}

.card-5 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-5 .card-heading {
  padding: 20px 0;
  background: #ffb366;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-5 .card-body {
  padding: 52px 85px;
  padding-bottom: 73px;
}

@media (max-width: 767px) {
  .card-5 .card-body {
    padding: 40px 30px;
    padding-bottom: 50px;
  }
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.form-row .name {
  width: 125px;
  color: #555;
  font-size: 15px;
  font-weight: 700;
}

.form-row .value {
  width: calc(100% - 125px);
}

@media (max-width: 767px) {
  .form-row {
    display: block;
  }
  .form-row .name,
  .form-row .value {
    display: block;
    width: 100%;
  }
  .form-row .name {
    margin-bottom: 7px;
  }
}


/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;

  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #00BFFF;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  border-radius: 50%;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input--style-5 {
  background: #e5e5e5;
  line-height: 50px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.input-group-desc {
  position: relative;
}

@media (max-width: 767px) {
  .input-group-desc {
    margin-bottom: 40px;
  }
}

.input-group {
  position: relative;
  margin: 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
